{% extends 'contacts/base.html' %}
{% block content %}
{% for contact in object_list %}

<div class="card my-5">
    <div class="card-header">
        <strong>
            {{contact.name}}
        </strong>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">{{contact.number}}</li>
        <li class="list-group-item">{{contact.email}}</li>
        <li class="list-group-item">{{contact.address}}</li>
        <li class="list-group-item"><a href="{% url 'update' contact.pk %}"><button
                    class="btn btn-sm btn-success">Update</button></a>
        </li>
        <li class="list-group-item">

            <a href="{% url 'delete' contact.pk %}">
                <button class="btn btn-sm btn-danger">Delete</button></a>
        </li>
    </ul>
</div>

<br><br>
{% endfor %}
{% endblock content %}